.jumbotron {
  text-align: center;
  font-family: 'Cinzel Decorative', cursive;
  background-color: #989E7E;
  border-radius: 50%;
}
.middlePicture{
  float: right;
  border-radius: 50px;
}
#imagePicture {
  border-radius: 50%;
}
#input {
  height: 40px;
  width: 400px;
}
body{
  background-color: #989E7E
}

#colorButton {
  font-family: 'Cinzel Decorative', cursive;
  background-color: #9CAFB7
}
#result{

  font-size: 100px;
}
#romanFont{
  font-family: 'Cinzel Decorative', cursive;
}
#romanTable img{
  width: 400px;
  border-radius: 50%;
}
